.list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;

}
.no-show{
  display: none;
}

.product {
  flex: 1 0 calc(25% - 10px);
  margin: 10px;
  max-width: 30%;
  /* border-radius: 10px;
  width: auto;
  margin: 20px auto;
  padding: 20px; */
  background-color: var(--light-grayish-cyan-bg);
  box-shadow: 0px 5px 10px -5px var(--desaturated-dark-cyan);
  cursor: pointer;
}

.featured-card {
  border-left: 4px solid var(--desaturated-dark-cyan);
}

.product-image img {
  width: 30%;
  max-height: 120px;
  object-fit: cover;
  border-radius: 8px;
  mix-blend-mode: multiply;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info div{
  flex: 1 0 calc(50% - 10px);
}
.product-image {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-details {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


